<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/../static/style.css">
<meta name="viewport" content="width=device-width.initial^scale=1">
<meta charset="UTF-8">
<title>解説文生成評価用の情報収集フォーム</title>
</head>
<body>
	<h5>※左上の戻るボタンは押さないでください。</h5><br>
	<h3>この度は実験にご協力くださり、ありがとうざいます。<br>
	今回<b style="color:#FF0000">初めて参加される方</b>は左のボタンを、<b style="color:#FF0000">２回目以降の方</b>は真ん中のボタンを押してください。</h3>
	<br>
	<button type="submit" onclick="location.href='/ready'">初めて</button>　　
	<button type="submit" onclick="location.href='/input_userID'">２回目以降</button>　　
<button type="submit" onclick="location.href='/ex/one'">例題へ</button>
</body>
</html>
