<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/../static/style.css">
<meta name="viewport" content="width=device-width.initial^scale=1">
<meta charset="UTF-8">
<title>解説文生成評価用の情報収集フォーム</title>
</head>
<body>
	<h5>※左上の戻るボタンは押さないでください。</h5><br>
	<h3><span class="red">IDを入力してください。</span> <br>そして準備ができ次第、"開始"を押してください。</h3>
	<form name="form1" method="post" autocomplete="off">
	  <input type="text" name="userID" size="20" placeholder="IDを入力"><br><br>
	  <button type="submit">開始</button>　　
	  <button type="button" onclick="history.back()">戻る</button>
	</form>
</body>
</html>
