<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/../static/style.css">
<meta name="viewport" content="width=device-width.initial^scale=1">
<meta charset="UTF-8">
<title>解説文生成評価用の情報収集フォーム</title>
</head>
<body>
	<h5>※左上の戻るボタンは押さないでください。　　　
	{% if id %}あなたのIDは、"{{id}}"です。{% endif %}</h5>
	{% autoescape False %}
	<div><h3>{{num}}： {{english}}　({{p_id}})</h3></div>
	{% endautoescape %}
	<br><br><br><hr class="a">
	<h2>{% if num==1 %}
		下線部の語句は間違っている可能性があります．
	{% endif %}
	{{question}}</h2><h4>
	<form method="post"> 
	  <label class="radio"><input type="radio" name="grammatically" value="right">正しい   </label>
	  <label class="radio"><input type="radio" name="grammatically" value="n_know">分からない   </label>
	  <label class="radio"><input type="radio" name="grammatically" value="error">間違っている</button></label>
	  <br><br>
	  <button type="submmit">解答</button>
	</form></h4>
</body>
</html>
